<h1>Projects by User</h1>

<p>Please select an user to check the projects related</p>

<p *ngIf="!users"><em>Loading...</em></p>


<select [(ngModel)]="selectedLevel" (change)="selected($event.target.value)" ng-init="0">
    <option [ngValue]="undefined" selected> -- </option>
    <option [ngValue]="users" *ngFor="let forecast of users" value="{{ forecast.id }}">{{ forecast.userName }}</option>
  </select>

  <table class='table' *ngIf="projects">
    <thead>
      <tr>
        <th>Project ID</th>
        <th>Start Date</th>
        <th>Time to start</th>
        <th>End Date</th>
        <th>Credits</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.projectId }}</td>
        <td>{{ project.startDate | date  }}</td>
        <td>
          {{  project.timeToStart  }}
          <br />
          <small class="text-sm-left"> assigned date : {{ project.assignedDate | date}}</small>
        </td>
        <td>{{ project.endDate  | date  }}</td>
        <td>{{ project.credits }}</td>
        <td>
          {{ project.activeMessage }}
          <br />
          <small class="text-sm-left"> origin data : {{ project.active }}</small>
        </td>
      </tr>
    </tbody>
  </table>



